[menu footer_menu]
start = "id-25"
activeNode = 0
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[jumbotron funding]
jumbotron = "funding"
background = "transperant"
templates = "template3"
description_limit = 0
==
{% if this.page.id != 'login' %}
    {% if this.theme.subscribe %}
        <div class="container-fluid subscriber">
            <video autoplay loop muted playsinline class="video-media">
                <source src="{{ 'video-Subscribe.mov'|media }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="container">
                <div class="content hero">
                    <div class="row middle-xs between-md around-xs sub-title">
                        <div class="col-md-9 cl-xs-12"><h1>Subscribe to our newsletter!</h1></div>
                        <div class="col-md-3 cl-xs-12"><a href="{{this.theme.subscribe}}" target="_blank" class="btn-subscribe">Subscribe <i></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endif %}




<div class="container-fluid border-box dark-background">
    <div class="container">
        <div class="row top-xs between-xs footer-social-menu-container">
            <div class="col-md-2 col-xs-12 start-md center-xs">
                <img class="project_footer_logo" src="{{'valor_logo_footer.png'|media}}">
            </div>
            <div class="col-md-8 col-xs-12 start-md center-xs">
                {% component 'footer_menu' %}
            </div>
            <div class="col-md-2 col-xs-12 end-md center-xs social-networks">
                {% if enable_facebook and facebook_url %}
                <a href="{{facebook_url}}" target="_blank" class="pr p-secondary p-facebook normal" target="_blank"></a>
                {% endif %}
                {% if enable_twitter and twitter_url %}
                <a href="{{twitter_url}}" target="_blank" class="pr p-secondary p-twitter normal" target="_blank"></a>
                {% endif %}
                {% if enable_linkedin and linkedin_url %}
                <a  href="{{linkedin_url}}" target="_blank" class="pr p-secondary p-linkedin normal" target="_blank"></a>
                {% endif %}
               
                {% if enable_instagram and instagram_url %}
                <a  href="{{instagram_url}}" target="_blank" class="pr p-secondary p-instagram normal" target="_blank"></a>
                {% endif %}
                {% if this.theme.bluesky_url %}
                <a href="{{this.theme.bluesky_url}}" target="_blank" class="pr p-secondary p-bluesky small"></a>
                {% endif %}
                {% if this.theme.threads_url %}
                <a href="{{this.theme.threads_url}}" target="_blank" class="pr p-secondary p-threads small"></a>
                {% endif %}
                 {% if enable_youtube and youtube_url %}
                <a  href="{{youtube_url}}" target="_blank" class="pr p-secondary p-youtube normal" target="_blank"></a>
                {% endif %}

            </div>

        </div>
        <div class="row disclaimer">
            <div class="col-md-3 col-xs-12 footer-right-border">
                {% if (footer_funds_flag != null) %}
                <div class="funding flex-column my-1 my-lg-0 flex-lg-row px-1 align-items-center col-sm col-xs-12">
                    {% if footer_funds_flag %}
                    <img class="mr-0 mr-lg-1" src="{{ footer_funds_flag }}"/>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="col-md-9 col-xs-12">
                <div class="funding-text">
                    {% component 'funding' %}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid border-box light-background">
    <div class="container">
        <div class="row top-xs between-xs footer-menu-container">
            <div class="col-md-6 col-xs-12 start-md center-xs">
                <a href="{{'privacy-policy'|page}}">Privacy policy</a>
            </div>
            <div class="col-md-6 col-xs-12 end-md center-xs powered-by">
                <span>Designed and powered by <a href="https://pensoft.net/" target="_blank">
                    <img class="pensoft_logo" src="{{ 'pensoft-logo.svg'|media }}" /></a>
                </span>
            </div>
        </div>
    </div>
</div>