[menu]
start = "id-1"
activeNode = 0
listItemClasses = "nav-item"
primaryClasses = "navbar-nav"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2

[jumbotron]
jumbotron = "intro"
background = "transperant"
templates = "template1"
description_limit = 0

[menu login]
start = "id-19"
activeNode = "id-25"
listItemClasses = "item"
primaryClasses = "nav nav-pills"
secondaryClasses = "dropdown-menu"
numberOfLevels = 2
==
{% if user %}
<nav class="fixed navbar-loggedin-user ">
    <div class="navbar-collapse collapse row middle-xs">
        <div class="col-xs-12 col-md-9">{% component 'login' %}</div>
        <div class="col-xs-2 col-md-2 hidden-xs middle-xs profilename_and_avatar">
            {% if user.avatar %}
            <img alt="{{ user.name }} {{ user.surname }}" src="{{user.avatar.getThumb(30,30, { mode : 'crop' } )}}" style="border-radius: 50%; margin-right:20px;">
            <a href="/profile" class="profile_name"><span>{{ user.name }} {{ user.surname }} &nbsp; &nbsp; </span> </a>
            {% else %}

            <img alt="{{ user.name }} {{ user.surname }}" src="{{ 'avatar.svg'|media }}" width="30" height="30">
            <a href="/profile" class="profile_name"><span>{{ user.name }} {{ user.surname }} &nbsp; &nbsp; </span></a>
            {% endif %}
        </div>
</nav>
{% endif %}

<nav class="pr-1 pl-1 navbar fixed" id="headernavbar">
    <div id="menuToggle">
        <input type="checkbox" />
        <span></span>
        <span></span>
        <span></span>
        {% component 'menu' %}
    </div>
    <a href="{{'home'|page}}" class="navbar-brand" id="navbar-brand" style="background: url('{{ this.theme.site_logo.getPath() }}') center no-repeat; background-size: contain;">

    </a>

    <div class="navbar-collapse collapse center-xs" id="headerNavbarNav" style="display: none;">
        {% component 'menu' %}
    </div>

</nav>






<div class="header-image {{page_id}}">
    {% if page_id == 'home' %}
    <div class="video-carousel">
        <div class="carousel-slide">
            <video autoplay loop muted playsinline class="header-video-media">
                <source src="{{ 'Homepage-Header-video.mov'|media }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    <div class="jumbotron">
        <div class="container">
            <div class="intro">
                <div class="hero">
                    <div class="intro-container">
                        <div class="intro-row row">
                            <div class="col-xs-12 welcome">
                                WELCOME TO VALOR
                            </div>
                            <div class="col-md-12 col-xs-12 sub-title">
                                <h1 class="intro-text"> {{tag_line|raw}}</h1>
                            </div>
                            <div class="col-xs-12 intro_btn">
                                <a href="{{'about'|page}}" class="btn-intro">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% elseif page_id == 'login' or page_id == 'Forgot'  %}
    <div class="video-carousel">
        <div class="carousel-slide">
            <video autoplay loop muted playsinline class="header-video-media">
                <source src="{{ 'Header-video.mov'|media }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>
    {% else %}
    <div class="header-image-bar hero" {% if user and this.page.id != 'home' %} style="margin-top: 104px!important;" {% endif %}>
        <div class="sub-title"><h1 class="underline white">{% if page_title %} {{page_title}} {% else %} {{site_name}} {% endif %}</h1></div>
        {% if this.page.header_subtitle %}
        <div class="sub-title subtext"><h1>{{this.page.header_subtitle}}</h1></div>
        {% endif %}
        <video autoplay loop muted playsinline class="header-video">
            <source src="{{ 'Header-video.mov'|media }}" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    {% endif %}
</div>


{% if user %}
<script>$(document).trigger('profile')</script>
<script>$(document).trigger('signout')</script>
{% else %}
<script>$(document).trigger('signin')</script>
{% endif %}
