url = "/contact"
layout = "default"
title = "Contact"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[siteSearchInclude]

==
<?php
use Pensoft\Cardprofiles\Models\Profiles;

function onStart(){
	$this['profiles'] =  Profiles::where('category_id', 1)->get();
}
?>
==
{% component 'siteSearchInclude' %}
<div class="container800">
    <div class="row center-xs">
        {% for profile in profiles %}
        <div class="col-md-5 col-xs-12 profile-item">
            <div class="row contact_info">
                <div class="coordinator_image">
                    <img src="{{profile.avatar.thumb(298, 312, {'mode' : 'crop' })}}">
                    <div class="uni_label"></div>
                </div>
                <div class="coordinator_info">
                    <div>
                        <h3>{{profile.names}}</h3>
                        <div class="position">{% if profile.position %} {{profile.position}} {% endif %}</div>
                    </div>
                    <div>
                        {% if profile.email %}
                        <a href="mailto:{{profile.email}}" class="btn btn-primary mail">
                            <i></i>{{profile.email}}
                        </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>
