url = "/media-center/project-materials"
layout = "default"
title = "Project materials"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"

[builderList mediaFlyersList]
modelClass = "pensoft\Media\Models\Flyers"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"
==
<?php
use Pensoft\Media\Models\Flyers;

// Files are served by the "download" page, see partials/components/download-link.htm
function onStart(){
	$this['mediaFlyersList'] =  Flyers::get();
}
?>
==
<section class="container" aria-labelledby="project-materials-heading">
    <h2 id="project-materials-heading" class="sr-only">Project materials</h2>
    {% set records = mediaFlyersList %}
    {% set displayColumn = mediaFlyersList.displayColumn %}
    {% set noRecordsMessage = mediaFlyersList.noRecordsMessage %}
    {% set detailsPage = mediaFlyersList.detailsPage %}
    {% set detailsKeyColumn = mediaFlyersList.detailsKeyColumn %}
    {% set detailsUrlParameter = mediaFlyersList.detailsUrlParameter %}

    {% if records.count() %}
    <div class="row">
        <div class="col-md-12 col-xs-12 mb-2">
            <a href="/media-center" class="go-back-link">Back</a>
        </div>
        {% for record in records %}

        <article class="col-md-4 col-xs-12 mb-4">
            <div class="logo-item">
                <div class="logo-container {{record.name|slug}} {{record.name}}">
                    <img src="{{record.flyer_image.path}}" alt="{{record.name}}">
                </div>
                <div class="record_name">{{record.name}}</div>
                <div class="links">
                    {% partial 'components/download-link' file=record.file title=record.name newtab=true %}
                    {% if record.file_lang_versions.count() > 1 %}
                    <div class="row middle-xs center-xs">
                        {% for brochure in record.file_lang_versions %}

                        {% set languages = brochure.title|split(' ') %}
                        {% partial 'components/download-link' file=brochure label=languages[0] title=brochure.title newtab=true %}
                        &nbsp;
                        {% endfor%}
                    </div>

                    {% endif %}

                </div>
            </div>
        </article>
        {% else %}
        {{ noRecordsMessage }}
        {% endfor %}
    </div>
    {% endif %}
</section>
