url = "/media-center"
layout = "default"
title = "Media centre"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "Page-Green-Title-Background.png"
==
<?php
use Pensoft\Media\Models\MediaLogos;
use Pensoft\Media\Models\Flyers;
use Pensoft\Media\Models\Newsletters;
use Pensoft\Media\Models\Presentations;
use Pensoft\Media\Models\Pressreleases;
use Pensoft\Media\Models\Videos;
use Pensoft\Media\Models\Podcasts;
use Pensoft\Media\Models\Graphic;
use System\Models\File;

function onStart(){
	$this['logos'] =  MediaLogos::get();
	$this['flyers'] =  Flyers::get();
	$this['newsletters'] =  Newsletters::get();
	$this['presentations'] =  Presentations::get();
	$this['pressreleases'] =  Pressreleases::get();
	$this['videos'] =  Videos::get();
	$this['podcasts'] =  Podcasts::get();
	$this['images'] =  Graphic::get();




}

function onDownloadFile(){
    $file = File::find(post('id'));
    $pathToFile = $file->getLocalPath();
$fileName = $file->file_name;
$fileType = $file->content_type;
$headers = [
'HTTP/1.1 200 OK',
'Pragma: public',
'Content-Type: '.$fileType,
'Content-Type: application/force-download'
];

return Response::download($pathToFile, $fileName, $headers);
}
?>
==
<section class="container" aria-labelledby="media-center-heading">
    <h2 id="media-center-heading" class="sr-only">Media center</h2>
    <div class="row">
        {% if logos.count() %}
        <div class="col-md-4 col-xs-12">
            <div class="row media-item">
                <div class="col-md-12 col-xs-12 mb-2 media-cover">
                    <a href="{{'logo'|page}}" aria-label="Brand Kit">
                        <img src="{{'1.png'|media}}" alt="Brand kit">
                        <div class="btn read-more-btn btn-primary" aria-hidden="true">Open</div>
                        <div class="blur_filter" aria-hidden="true"></div>
                        <div class="media-title">Brand Kit</div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}


        {% if podcasts.count() %}
        <div class="col-md-4 col-xs-12">
            <div class="row media-item">
                <div class="col-md-12 col-xs-12 mb-2 media-cover">
                    <a href="{{'podcasts'|page}}" aria-label="Podcasts">
                        <img src="{{'Brand-Kit.png'|media}}" alt="Podcasts">
                        <div class="btn read-more-btn btn-primary" aria-hidden="true">Open</div>
                        <div class="blur_filter" aria-hidden="true"></div>
                        <div class="media-title">Podcasts</div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}


        {% if flyers.count() %}
        <div class="col-md-4 col-xs-12">
            <div class="row media-item">
                <div class="col-md-12 col-xs-12 mb-2 media-cover">
                    <a href="/media-center/project-materials" aria-label="Project materials">
                        <img src="{{'2.png'|media}}" alt="Project materials">
                        <div class="btn read-more-btn btn-primary" aria-hidden="true">Open</div>
                        <div class="blur_filter" aria-hidden="true"></div>
                        <div class="media-title">Project materials</div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}


        {% if videos.count() %}
        <div class="col-md-4 col-xs-12">
            <div class="row media-item">
                <div class="col-md-12 col-xs-12 mb-2 media-cover">
                    <a href="{{'videos'|page}}" aria-label="Videos">
                        <img src="{{'Brand-Kit.png'|media}}" alt="Videos">
                        <div class="btn read-more-btn btn-primary" aria-hidden="true">Open</div>
                        <div class="blur_filter" aria-hidden="true"></div>
                        <div class="media-title">Videos</div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}


        {% if newsletters.count() %}
        <div class="col-md-4 col-xs-12">
            <div class="row media-item">
                <div class="col-md-12 col-xs-12 mb-2 media-cover">
                    <a href="{{'newsletters'|page}}" aria-label="Newsletters">
                        <img src="{{'Brand-Kit.png'|media}}" alt="Newsletters">
                        <div class="btn read-more-btn btn-primary" aria-hidden="true">Open</div>
                        <div class="blur_filter" aria-hidden="true"></div>
                        <div class="media-title">Newsletters</div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if images.count() %}
        <div class="col-md-4 col-xs-12">
            <div class="row media-item">
                <div class="col-md-12 col-xs-12 mb-2 media-cover">
                    <a href="{{'images'|page}}" aria-label="Images">
                        <img src="{{'3.png'|media}}" alt="Images">
                        <div class="btn read-more-btn btn-primary" aria-hidden="true">Open</div>
                        <div class="blur_filter" aria-hidden="true"></div>
                        <div class="media-title">Images</div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
