url = "/media-center/videos"
layout = "default"
title = "Videos"
is_hidden = 0
robot_index = "index"
robot_follow = "follow"
header_image = "Page-Green-Title-Background.png"

[builderList mediaVideosList]
modelClass = "pensoft\Media\Models\Videos"
scope = "-"
scopeValue = "{{ :scope }}"
displayColumn = "name"
noRecordsMessage = "No records found"
detailsPage = "-"
detailsUrlParameter = "id"
pageNumber = "{{ :page }}"

[jumbotron]
jumbotron = "under-construction"
title = 1
background = "transperant"
templates = "template1"
description_limit = 0
==
<?php
use Pensoft\Media\Models\Videos;

// Files are served by the "download" page, see partials/components/download-link.htm
function onStart(){
	$this['mediaVideosList'] =  Videos::where('pensoft_media_videos.parent_id', null)->get();
}
?>
==

{% set records = mediaVideosList %}

<div class="container">



    {% if records.count() %}
    <div class="row">
        <div class="col-md-12 col-xs-12 mb-2">
            <a href="/media-center" class="go-back-link">Back</a>
        </div>

            <div class="row">
                {% for record in records %}
                <div class="col-md-6 col-xs-12">



                    {% if record.youtube_url %}
                    <iframe allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" frameborder="0" src="{{record.youtube_url}}" width="100%" height="353"></iframe>
                    {% endif %}

                    {% if record.vimeo_url %}
                    <iframe width="100%" height="353" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            src="{{record.vimeo_url}}">
                    </iframe>

                    {% endif %}
                    <div class="record_name">{{ record.name|length > 65 ? record.name|striptags|slice(0, 65)|replace({"&nbsp;": " ", ".": ". "}) ~ '...' : record.name|striptags|replace({"&nbsp;": " ", ".": ". "})  }}</div>
                    {% if record.file %}
                    <div class="links">
                            {% partial 'components/download-link' file=record.file title=record.name class='download' force=true noicon=true %}
                        </div>
                    </div>
                    {% endif %}
                </div>

                {% endfor %}
        {% else %}
        <div class="commig_soon">
            Coming soon...
        </div>
    </div>
    {% endif %}
</div>
